{% extends 'base.html'%}
{% import 'bootstrap/wtf.html' as wtf %}
{% block styles%}
{{ super() }}
<link rel="stylesheet" href="{{url_for('static',filename='css/style.css')}}">
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        {% if comments %}
        <div class="col-md-4">
         <h3> Comments for this post</h3>
         {% for comment in comments%}
         <div class="card mb-2 p-0">
             <p> {{ comment.comment}} </p> by:
             <b> {{comment.user.username}} </b>
         </div>
         <b>Delete comments</b>
         <form action="{{url_for('main.delete_comment',comment_id=comment.id)}}" method="POST">
               <input class="btn btn-danger btn-sm" type="submit" value="delete comment">
        </form>
         {%endfor%}
        </div>
        <div class="col-md-5">
            {{wtf.quick_form(form)}}
        </div>
        {% else %}
        <p> No comment for this post </p>
         
        <div class="col-md-5">
            {{wtf.quick_form(form)}}
        </div>

        {%endif%}
    </div>
</div>

{% endblock %}