{% extends 'base.html' %}
{% import 'bootstrap/wtf.html' as wtf %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-3">
            <h3>Randon Quotes for you</h3>
            <h5 class="card-text"> {{ quotes.quote }} </h5>
           <b> {{quotes.author}} </b>
        </div>
        <div class="col-md-6">
            {% for post in posts %}
                  <div class="post-body">{{ post.body }}</div>
                <div class="post-author">
                    <a href="{{ url_for('main.profile', uname=post.username) }}">
                        {{ post.user.username }}
                    </a>
                </div>
           
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}